body{
    font-family: Georgia, Times New Roman, serif;
    background-color: #f4f4f4;
    margin: 30px;
}

header{
    background-color: black;
    color: white;
    padding:20px;
    text-align:center;
}

nav{
    margin:20px 0;
}

nav a{
    text-decoration:none;
    font-weight:bold;
    padding:10px;
}

img{
    border-radius:10px;
}
